<div class="row">
  <div class="col-md-6">

    <h2>Search Pages</h2>

    <form class="form-inline">
      <div class="form-group">

        <input type="text" class="form-control" ng-model="query">

        <select ng-model="selectedCategory" class="form-control"
          ng-options="c for c in categories">
        </select>

      </div>
    </form>

    <ul class="list-unstyled">
      <li ng-repeat="page in pages">
        <span ng-click="selectPage(page)">{{page.name}}</span>
        <span class="glyphicon glyphicon-trash"></span>
        <span class="glyphicon glyphicon-pencil"></span>
      </li>
    </ul>

  </div>

  <div class="col-md-6" ng-show="selectedPage">
    <h2>Details</h2>
    <ul class="list-unstyled">
      <li>
        <strong>Page:</strong>
        {{selectedPage.name}}
      </li>

      <li>
        <strong>Category:</strong>
        {{selectedPage.category}}
      </li>

      <li>
        <strong>Added:</strong>
        {{selectedPage.added}}
      </li>

      <li>
        <button ui-sref="view(selectedPage.id)">
          <span class="glyphicon glyphicon-folder-open"></span>
        </button>
      </li>
    </ul>
  </div>
</div>

